{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="mx-auto mt-5" style="width: 400px;">
	<div class="card bg-light text-dark">
		<div class="card-body">
        {% if userExist %}
          <div class="alert alert-danger">
              user_name already exist.
          </div>
        {% endif%}
			<!-- <form name="registration" onsubmit="registerUser(event,this.form)">{% csrf_token %} -->
			<form name="registration" action="/movieApp/register/" method="POST">{% csrf_token %}
				<div class="form-group">
					<label for="first_name">First name:</label>
					<input type="text" class="form-control" id="first_name" placeholder="Enter first name" name="first_name"
						required>
				</div>
				<div class="form-group">
					<label for="last_name">Last name:</label>
					<input type="text" class="form-control" id="last_name" placeholder="Enter last name" name="last_name" required>
				</div>
				<div class="form-group">
					<label for="user_name">username:</label>
					<input type="text" class="form-control" id="user_name" placeholder="Enter username" onblur="validateUser(event)" name="user_name" required>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
						required>
				</div>
				<!-- <div class="form-group">
					<label for="password">Confirm password:</label>
					<input type="password" class="form-control" id="password2" placeholder="Confirm password" name="password2"
						required>
				</div> -->
					<button type="submit" class="btn btn-primary btn-block">Register</button>
			</form>
		</div>
	</div>
</div>
<script>
/*
	function validateUser(event){
		console.log(event.target.value.length);
	}

	function registerUser(event, form){
		event.preventDefault();
		console.log(event.target.password.value);
		return false;
	}
*/
</script>
{% endblock %}